{% extends 'base.html' %}
{% block titulo %}{{ proyecciones.nombre }}{% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{ proyecciones.nombre }}</h2>
        <p class="card-text">{{ proyecciones.descripcion }}</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Galpon:</strong>{{ proyecciones.galpon }}</li>
            <li class="list-group-item"><strong>Genetica:</strong>{{ proyecciones.genetica }}</li>
            <li class="list-group-item"><strong>Sexo:</strong>{{ proyecciones.sexo }}</li>
            <li class="list-group-item"><strong>Clima:</strong>{{ proyecciones.clima }}</li>
            <li class="list-group-item"><strong>Edad:</strong>{{ proyecciones.edad }}</li>
            <li class="list-group-item"><strong>0 dias:</strong>{{ proyecciones.peso0 }}</li>
            <li class="list-group-item"><strong>7 dias:</strong>{{ proyecciones.peso7 }}</li>
            <li class="list-group-item"><strong>14 dias:</strong>{{ proyecciones.peso14 }}</li>
            <li class="list-group-item"><strong>21 dias:</strong>{{ proyecciones.peso21 }}</li>
            <li class="list-group-item"><strong>28 dias:</strong>{{ proyecciones.peso28 }}</li>
            <li class="list-group-item"><strong>35 dias:</strong>{{ proyecciones.peso35 }}</li>
            <li class="list-group-item"><strong>42 dias:</strong>{{ proyecciones.pesomonit }}</li>


        </ul>



    </div>
</div>
{% endblock %}