{% extends 'base.html' %}
{% block titulo %}{{ datos.nombre }}{% endblock %}
{% block contenido %}
<h2>Peso de Granja PRUEBA</h2>
    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Galpon</th>
                <th>Genética</th>
                <th>Sexo</th>
                <th>Clima</th>
                <th>Lote</th>
                <th>Peso 0</th>
                <th>Peso 7</th>
                <th>Peso 14</th>
                <th>Peso 21</th>
                <th>Peso 28</th>
                <th>Peso 35</th>
                <th>Peso Monitoreo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
                <tr>
                    <td>{{ dato.galpon }}</td>
                    <td>{{ dato.genetica }}</td>
                    <td>{{ dato.sexo }}</td>
                    <td>{{ dato.clima }}</td>
                    <td>{{ dato.edad }}</td>
                    <td>{{ dato.peso0 }}</td>
                    <td>{{ dato.peso7 }}</td>
                    <td>{{ dato.peso14 }}</td>
                    <td>{{ dato.peso21 }}</td>
                    <td>{{ dato.peso28 }}</td>
                    <td>{{ dato.peso35 }}</td>
                    <td>{{ dato.pesomonit }}</td>
                    
                    {# <td><a href="{% url 'grafico' dato.id %}" class="btn btn-primary btn-sm">Ver Gráficos</a></td> #}
                    <td><a  class="btn btn-primary btn-sm">Ver Gráficos</a></td>


                </tr>
            {% empty %}
                <tr>
                    <td colspan="13">No hay datos para graficar....</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}