{% extends 'base.html' %}
{% block titulo %}{{ datos.nombre }}{% endblock %}
{% block contenido %}
<h2>Peso de Granja PRUEBA</h2>
    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Galpon</th>
                <th>Genética</th>
                <th>Sexo</th>
                <th>Clima</th>
                <th>Edad</th>
                <th>Peso 0</th>
                <th>Peso 7</th>
                <th>Peso 14</th>
                <th>Peso 21</th>
                <th>Peso 28</th>
                <th>Peso 35</th>
                <th>Peso Monitoreo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in Datos %}
                <tr>
                    <td>{{ datos.galpon }}</td>
                    <td>{{ datos.genetica }}</td>
                    <td>{{ datos.sexo }}</td>
                    <td>{{ datos.clima }}</td>
                    <td>{{ datos.edad }}</td>
                    <td>{{ datos.peso0 }}</td>
                    <td>{{ datos.peso7 }}</td>
                    <td>{{ datos.peso14 }}</td>
                    <td>{{ Datoss.peso21 }}</td>
                    <td>{{ datos.peso28 }}</td>
                    <td>{{ datos.peso35 }}</td>
                    <td>{{ datos.pesomonit }}</td>
                    <td><a href="{% url 'grafico' datos %}" class="btn btn-primary btn-sm">Ver Gráficos</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="13">No hay datos para graficar....</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}